<h1> Enter a Character </h1>

<form action="/products" method="post" enctype="multipart/form-data">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<br>


	<label for="">Species:</label>
	<input type="text" name="species" placeholder="speices">
	<br>

  

  <label for="">Nickname:</label>
  
  <input type="text" name="nickname" placeholder="nickname">
  <br>


<br>
	<label for="">Level:</label>
  <select name="level">
  	<option value="select">select</option>
  <option value="one">1</option>
  <option value="two">2</option>
  <option value="three">3</option>
  <option value="four">4</option>
  <option value="five">5</option>
  <option value="six">6</option>
  <option value="seven">7</option>
  <option value="eight">8</option>
  <option value="nine">9</option>
  <option value="ten">10</option>
</select>

<br>
	<button>Submit</button>

</form>