<h2>Edit Dish</h2>

<form action="/dishes" method="post"> 
	<input type="hidden" name="_method" value="put">
	<label for="">name</label>

	<input type="text" name="name" value="<%= @dish.name %>">

	<label for="">image url</label>
	<input type="text" name="image_url" value="<%= @dish.image_url %>">

<button>update</button>
</form>