<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ethan's Netflix</title>
  <link rel='stylesheet' href='stylesheets/main.css'>
</head>
<body>

<nav>
	<a href="/">Home</a>
	<a href="/about">About</a>
	<a href="//moviedatabase_directory">Data Base</a>

</nav>

  <%= yield %>

</body>
</html>